@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>kOS -- Scriptable Autopilot System for Kerbal Space Program</h2>
</hgroup>

<article>
    <p>
        kOS is a scriptable autopilot Mod for Kerbal Space Program. It allows you write small programs that automate specific tasks.
        <br />
        Some Features include:
    </p>
    <ul>
        <li>Trigonometry Functions ARCSIN, ARCCOS, ARCTAN and ARCTAN2 are now implemented.</li>
        <li>Programs can now contain parameters</li>
        <li>You can now get the distance to an arbitrary latlng with :distance</li>
    </ul>
    <p>This site is a community driven site to allow people to share their programs with other members of the community.</p>
    <p>Latest Update:</p>
    <iframe width="480" height="360" src="//www.youtube.com/embed/vVIta3NoIzQ" frameborder="0" allowfullscreen></iframe>
</article>

<aside>
    <h3>Links</h3>
    <p>
        Where to download it
    </p>
    <ul>
        <li>Download the IDE: <a href="http://kerbalspaceport.com/kos-ide/" target="_blank">At the SpacePort</a></li>
        <li>Download the plugin: <a href="http://kerbalspaceport.com/kos/" target="_blank">At the SpacePort</a></li>
    </ul>
</aside>
