@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Welcome to the kOS Store</h2>
            </hgroup>
            <p>
                This site was created by a community member and is not responsible for any content or the plugin or IDE.
            </p>
        </div>
    </section>
}
<h3>Getting started with kOS:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Purchase or Download Kerbal Space Program
    </li>

    <li class="two">
        <h5>Download kOS Plugin</h5>
        Download the kOS Plugin
    </li>

    <li class="three">
        <h5>Create or Browse the community library</h5>
        View our selection of scripts, or upload your own.
    </li>
</ol>
