@{
    ViewBag.Title = "Your account has been confirmed";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>You may now login</h2>
</hgroup>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
